
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'auth';

body {
    background-color: #fff;
    min-height: 100vh;
}

.inline-pull-right {
    float: right;
    display: inline-block !important;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);
}
.sidebar {
    margin-top: 1rem;
}

.content {
    .page-title {
        border-left: 2px solid $theme;
        padding-left: 0.81rem;
        margin: 1rem 0;
    }
}
.fade{
  &-enter {
    opacity: 0;
    &-active {
      transition: opacity 0.5s ease;
    }

    &-leave {
      &-active {
        transition: opacity 2s ease;
        opacity: 0;
      }
    }
  }
}
